<ion-header class="ion-no-border">
  <ion-toolbar class="gold-bg">
    <app-back-button btnIcon="arrow-back-outline" btnText="Revision Notes for lmr" defaultHref="plans/list-page"></app-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="section-inside"></section>
  <ion-row >
    <ion-col class="ion-text-center">
        <ion-card class="shadow-card" >
          <ion-item lines="none" class="ion-text-center">
            <ion-img  src="assets/new_assets/free_pack/subjects.svg"></ion-img>
            <p>{{listData?.name}}</p>
          </ion-item>
        </ion-card>
    </ion-col>
    <section class="inside-card">
      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>

    </section>

  </ion-row>

</ion-content>
