ion-row{
  margin: unset;
  padding: unset;
}
.modal-content{
  background: #fff;
  margin: auto 5%;
  border-radius: 15px;
  }


.tandc-btn{

  --background:#fff;
  --color:var(--ion-color-primary);
  width: 40%;
  height:3em;


}

ion-col{
  --background:inherit;
  ion-checkbox{
    --checkbox-background-checked:#dad8d8;
    --checkmark-color:#d04043;
    --border-color-checked:#f3f3f3;

  }

}

