ion-backdrop{
  opacity: 0.7;
  background: inherit;

}

ion-label{
  .termClabel{
    overflow-wrap: break-word;
  }

}
.tandc-btn{
  border-radius: 20px;
  --background:#fff;
  --color:var(--ion-color-primary);
}
.modal-content{
  max-width: 400px;
  text-align: center;
  width: 90%;
  height: 40%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto auto;
  border-radius: 15px;


}

