<ion-header class="ion-no-border">
  <ion-toolbar class="bg">
  <app-back-button [btnIcon]="btnIcon" [btnText]="btnText" [defaultHref]="defaultHref"></app-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="tour-content">
    <ion-item class="offer" lines="none">
      <ion-text>Offers</ion-text>
    </ion-item>

    <ion-item class="app-tour" lines="none">
      <ion-text>App Tours</ion-text>
    </ion-item>
    <ion-card >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="https://i.vimeocdn.com/video/1428218526-e87b85b854…7f29c88f6a4eb3cea11eee2e12f5782-d_1920x1080?r=pad"></ion-img>
          </ion-col>

          <ion-col class="ion-justify-content-center ion-align-self-start">
            <ion-text>About App Tour</ion-text>
            <span></span>
            <ion-text>00:02:25</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </section>

</ion-content>
