<ion-header class="ion-no-border">
  <ion-toolbar class="bg">
    <app-back-button btnIcon="arrow-back-outline" btnText="Notifications" defaultHref="home"></app-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="no-notification" *ngIf="notificationList.length === 0">
    <ion-row>
      <ion-col>
        <ion-text>You dont have any notifications yet!</ion-text>
      </ion-col>
    </ion-row>
  </section>
  <ion-card class="ion-margin-horizontal ion-margin-vertical notification-card" *ngFor="let notification of notificationList; let i=index">
    <ion-card-content>

        <ion-col>
          <ion-item lines="none">
            <ion-text class="notification-card-header">{{notification.title}}</ion-text>
          </ion-item>
        </ion-col>
    <ion-grid>
      <ion-row>
        <ion-col class="mid">
          <ion-text class="notification-card-subtitle">{{notification.text}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col class=" ion-no-padding">
          <ion-text class="notification-card-date">{{notification.createdAt | date: 'mediumDate'}}</ion-text>
        </ion-col>

        <div class="inner">
          <ion-col >
          <ion-text [ngStyle]="{'color':notification.color}">New</ion-text>
        </ion-col>

        </div>
      </ion-row>
    </ion-grid>

    </ion-card-content>

  </ion-card>
</ion-content>
