 <!--user info -card-->
 <div class="user-info-card bg-img">
  <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col size="12" class="ion-text-end">
          <ion-icon class="edit-userInfo " name="create-outline"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-avatar class="user-avatar">
              <img src="https://img.freepik.com/premium-vector/man-avatar-profile-round-icon_24640-14044.jpg?w=2000">
          </ion-avatar>
        </ion-col>
        <ion-col class="mov-col" size="8">
          <h5>Hi, {{userInfo.firstName}} !</h5>
          <p>{{userInfo.email}}</p>
        </ion-col>
    </ion-row>
  </ion-grid>
</div>
