.signup-otp{

  text-align: center;
  width: 80%;
  margin: 0 auto ;

  ion-row{
    ion-col{
      ion-img{
        margin: 2em 25% 0 25%;
      }


    }
    ion-button{
      --background:#EC4227;
      border: 1px solid #eeafbd;
      border-radius: 2em;
    }
  }
}
ion-input{
  text-align: center;
  --background:#fff;
  --color:#000;
  font-size: 12px;

}
.box{
  box-shadow: 0px 2px 5px 3px #ececec;
  border-radius: 7px;
}
