<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
          <ion-back-button text="Back" icon="chevron-back-outline" type="dark" color="dark" defaultHref="login"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-content">
    <ion-img src="assets/auth/login_top.png" class="ion-margin-horizontal ion-padding"></ion-img>
    <ion-text class="ion-margin-top" style="color:#E72229;"> Welcome to Nursing Next Live!</ion-text>
    <ion-label>Login to your exisitng account of NN Live</ion-label>
    </div>
    <section>
      <form>
        <ion-item class="ion-margin-top box" lines="none" >
          <ion-input type="tel" placeholder="Sign up with Phone Number" required></ion-input>
        </ion-item>
      </form>
    </section>

    <ion-button shape="round" class="signup-btn" disabled>Next</ion-button>

</ion-content>
