.center{
  display: flex;
  align-items: center;
}
ion-card{
  padding:8px;
  margin: 10px auto 10px 10px;
  box-shadow: 0px 0px 14px #00000033;
  border-radius: 7px;
  width: 95%;

  ion-row{
    .imgSection{
      border: 3px solid #d1d1d1;
      border-radius: 100%;
      padding:5px;
    }
    ion-img.cardImg{
      width: 43px;
      height:54px;
    }
    ion-col{
      padding:3px;
      ion-text{
        font-size: 13px;
        font-weight: 600;
        --color:#1d3557;
        margin: 10px 0;
      }
      p{
        font-size: 10px;
        --color:#1d3557;
        font-weight: 300;
        padding: 0;
        margin: 0;
      }
    }
    .iconSection{
      background: #1d355729;
      width:10%;
      height: 10vh;
      border-radius: 8px;
    }
    ion-icon{
      font-size: 20px;

    }
  }
}
