<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content  >
  <div class="login-content">
    <ion-img src="assets/auth/login_top.png" class="ion-margin-horizontal ion-padding"></ion-img>
    <ion-text class="ion-margin-top" style="color:#E72229;"> Welcome to Nursing Next Live!</ion-text>
    <ion-label>Login to your exisitng account of NN Live</ion-label>

    <section class="ion-margin-top">
      <form [formGroup]= "loginForm" autocomplete="off" #authForm="ngForm" >
        <ion-item class="ion-margin-top box" lines="none" >
          <ion-input type="tel" placeholder="Phone Number" required
          name="phoneNumber" maxlength="10" minlength="10"
          formControlName="mobile" (keyup)="checkphoneNumber($event)"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top box" lines="none">
          <ion-input [type]=" !showpass ? 'password' :'text' "  placeholder="Password" required
          name="password" mixlength="6" formControlName="password"></ion-input>
        </ion-item>
      </form>


    </section>

    <ion-item lines="none" class="ion-margin-start ion-margin-top" style="width:auto">
      <ion-checkbox slot="start" (ionChange) ="showpass=!showpass " [checked]=" showpass== true "></ion-checkbox>
      <ion-label >Show Password</ion-label>
    </ion-item >

    <ion-button #btn  shape="round" color="danger" class="login-btn" (click)=" btn.disables = true;  gotoTandC( $event , btn)"> Login </ion-button>

    <ion-text (click)="gotosignup()" class="ion-margin-top">Don't have an account?<span style="color:#E72229">Signup</span></ion-text>



  </div>





</ion-content>
