<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content  >
  <div class="login-content">
    <section class="align-center web-view">
      <ion-img src="assets/auth/login_top.png" class="ion-margin-horizontal ion-padding login-img animate__animated animate__slideInLeft "></ion-img>
      <ion-text class="ion-text-center" style="color:#E72229;"> Welcome to Nursing Next Live!</ion-text>
      <ion-label>Login to your exisitng account of NN Live</ion-label>
    </section>

    <section class="ion-margin-top loginSection web-view ">
      <form [formGroup]= "loginForm" autocomplete="off" #authForm="ngForm" >

        <ion-item class="ion-margin-top box" lines="none" >
          <ion-input type="tel" placeholder="Mobile Number" required
          name="phoneNumber" maxlength="10" minlength="10"
          formControlName="mobile" (keyup)="checkphoneNumber($event)" class="ion-padding" aria-label="Mobile number"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top box" lines="none">
          <ion-input [type]=" !showpass ? 'password' :'text' "  placeholder="Password" required
          name="password" minlength="6" formControlName="password" class="ion-padding" aria-label="password"></ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-margin-top">
          <ion-checkbox slot="start" labelPlacement="end" (ionChange) ="showpass=!showpass" [checked]="showpass== true" aria-label="show Password"
          style="--checkbox-background-checked:#000;" > Show password</ion-checkbox>
        </ion-item >
      </form>
      <ion-button #btn  shape="round" color="danger" expand="block" class="login-btn ion-margin-top" (click)=" btn.disables = true;  gotoTandC( $event , btn)"> Login </ion-button>
      <p class="sub-title ion-text-center">Forgot password?</p>
    </section>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-row>
      <ion-col class="ion-tappable" size="12">
          <ion-text (click)="gotosignup()">Don't have an account? <span>Sign Up</span></ion-text>
      </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-footer>
