<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-back-button [btnIcon]="btnIcon" [defaultHref]="defaultHref" [btnText]="btntext"></app-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-horizontal" >

  <section class="bolg-detail-content">
    <ion-img src="https://nn.pc.cdn.bitgravity.com/5ee9a14f0e10190011c078d1/01b5d378-898b-444c-992c-501814602c58.jfif"
    class ="ion-margin-top ion-margin-horizontal"></ion-img>
    <div class="blog-detail-text ">
      <ion-text style="font-size: 13px; font-weight: 600; --color:#555555" class="ion-margin-top">
        Blogs
      </ion-text>
      <br>
      <ion-text style="font-size: 9px; font-weight: 300; --color:rgb(166, 172, 181);">2 years ago </ion-text>
      <h3 style=" font-size: 22px; --color:rgb(166, 172, 181); line-height: 1.2; margin-bottom: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, eius?</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minima expedita numquam cumque suscipit pariatur dolor atque? Hic corrupti et quae quam eum iste nisi doloremque, voluptate deserunt dolorem deleniti eveniet perspiciatis eius earum accusamus quia. Consequuntur ad facilis laudantium quaerat? Provident labore tenetur ullam molestiae exercitationem dolorem. Sit, itaque!</p>

    </div>
  </section>
</ion-content>

