ion-content{
  .sectionContent{
    margin: 0 auto;
    width: 90%;
  }
}

.title{
  font-size: 25px;
  font-weight: 600;
  --color:#1d3557;
}

.footer-img{
    width: 30px;
    height: 42px;
}

ion-tab-bar{
  height: 62px;
  ion-tab-button{
    padding: -5px;
    font-size: 10px;
    line-height: 8px;
  }
  padding-top: 3px;
}

ion-footer{
  height: 62px;
}

.footer-live{
  width: 75px;
}
