
<app-home-nav></app-home-nav>

<ion-content>
  <section class="sectionContent">
    <ion-row>
      <ion-col>
        <ion-text  class="ion-text-start title" >Hi {{ userInfo?.firstName || ''}}!</ion-text>
      </ion-col>
    </ion-row>
  <app-content-slider></app-content-slider>
  <app-home-content></app-home-content>
      <ion-row>
        <ion-col>
          <ion-img src="assets/question-white.png" (click)="goToQOTD()" tappable></ion-img>
        </ion-col>
      </ion-row>

    <ion-row>

      <ion-col>
        <ion-item lines="none">
          <ion-text slot="start">
            <span>Connect with us</span>
          </ion-text>
        </ion-item>
      </ion-col>

      <ion-col class="align-center">
        <ion-icon name="logo-chrome"></ion-icon>
      </ion-col>
      <ion-col class="align-center">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col class="align-center">
        <ion-icon name="call"></ion-icon>
      </ion-col>
      <ion-col class="align-center">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
      <ion-col class="align-center">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-col>
      <ion-col class="align-center ion-margin-end">
        <!-- <ion-img src="assets/new_what_icon.png"></ion-img> -->

      </ion-col>

    </ion-row>
  </section>

</ion-content>


<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col class="footer-img ">
        <ion-item lines="none" class="singleItem">
          <ion-img  src="assets/new_assets/home_tabs/home_a.png">home</ion-img>
          <p>Home</p>
        </ion-item>
      </ion-col>
      <ion-col class="footer-img align-center">
        <ion-img  src="assets/new_assets/home_tabs/home_a.png"></ion-img>
        <p>Home</p>
      </ion-col>
      <ion-col class="footer-img align-center">
        <ion-img  src="assets/new_assets/home_tabs/home_a.png"></ion-img>
        <p>Home</p>
      </ion-col>
      <ion-col class="footer-img align-center">
        <ion-img  src="assets/new_assets/home_tabs/home_a.png"></ion-img>
        <p>Home</p>
      </ion-col>
      <ion-col class="footer-img align-center">
        <ion-img  src="assets/new_assets/home_tabs/home_a.png"></ion-img>
        <p>Home</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->



