<section>
  <ion-row>
    <ion-col>
      <ion-searchbar placeholder="Search" class="searchBar"></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let course of courseList">
    <ion-row class="center">
      <section class="imgSection align-center">
        <ion-img src={{course.imageUrl}} class="cardImg"></ion-img>
      </section>
      <ion-col >
        <ion-text>{{course.name}}</ion-text>
        <p>{{course.desc}}</p>

      </ion-col>
    <section class="iconSection align-center">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </section>
    </ion-row>
  </ion-card>
</section>
