<ion-card class="blog-card" (click)="gotoBlogdetail()">
  <ion-card-header style="font-size: 18px; font-weight: 800;">
    Blogs
    <br>
    <ion-text style="font-size: 16px;font-weight:300;">2 years Ago</ion-text>
  </ion-card-header>
  <ion-img src="https://nn.pc.cdn.bitgravity.com/5ee9a14f0e10190011c078d1/01b5d378-898b-444c-992c-501814602c58.jfif"></ion-img>
  <ion-title>
    HOW TO PREPARE FOR NURSING COMPETITIVE EXAMS DURING THE TIME OF PANDEMIC?
  </ion-title>

  <ion-text class="lcv-text">
    <span>0 Like(s)</span>
    <span>
      <div class="criclespan"></div>
    </span>
    <span> 3 Comment(s)</span>
    <span>
      <div class="criclespan"></div>
    </span>
    <span>251 view(s)</span>
  </ion-text>

<ion-card-content>
  <ion-grid>
    <ion-row class="ion-margin-bottom">
      <ion-col size="4">
        <ion-img src="assets/feeds/like.png"></ion-img>
      </ion-col>
      <ion-col size="4" class="mid-img">
        <ion-img src="assets/feeds/comment.png"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/feeds/bookmark.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card-content>

</ion-card>
