
<div id="main-content">
  <ion-header class="ion-margin-bottom">
    <ion-toolbar>
      <ion-buttons slot="start">
        <div class="div-cirlce">
          <ion-menu-button class="menu-btn"></ion-menu-button>
        </div>
      </ion-buttons>
      <div class="menu-logo">
      <ion-title>
        <ion-img src="assets/newLogo.png" class="img-logo"> </ion-img>
      </ion-title>

     <!-- <div class="menu-logo" slot="end">
        <ion-img src="assets/app_tour.png" class="large"></ion-img>
        <ion-img src="assets/search.png" ></ion-img>
        <ion-img src="assets/performance.png" ></ion-img>
        <ion-img src="assets/cbs-nn/universal/notification.svg" slot="end"></ion-img>
      </div> -->
      <ion-item lines="none">
        <ion-img src="assets/app_tour.png"  (click)="openApptour()"></ion-img>
        <ion-img src="assets/search.png" (click)="openSearch()"></ion-img>
        <ion-img src="assets/performance.png" ></ion-img>
        <ion-img src="assets/cbs-nn/universal/notification.svg" ></ion-img>
      </ion-item>

      </div>

    </ion-toolbar>
  </ion-header>
</div>

